vendor/
media/
tests/_output

includes/database.php
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
*.meta
.idea/dataSources.local.xml
.idea/workspace.xml
.idea/dataSources.local.xml
